.about-us {
  margin-top: 4.37rem;
  margin-bottom: 3.12rem;
}
.about-us .head-text {
  width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 2.18rem;
  line-height: 2.81rem;
}
.about-us .main-text {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
}
/* .about-us .main-text img {
  } */
.about-us .main-text p {
  width: 55%;
}
